*{
  font-family: Sailec-Bold,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
}
.megamenu .Featureprod>.row>*{
  float: left;
}
.immagiprod{
  width: 45px;
}
.megamenu .Featureprod>.row>* h3{
  margin: 0;
}
.megamenu{
  text-align: left;
  width: 100%;
  position: absolute;
  left: 0;
  top: 74px;
  display: none;
  background-color: #f8f8f8;
}
.megamenu ul{
  padding: 0;
}
.menunav{
  border: none;
  background-color: #f8f8f8;
  padding: 0;
}
.menunav:focus .megamenu{
  display: block;
}
.art img{
  width: 70px;
}
nav>.container>.row>*>ul>li, .righttopnav>.row>ul, .righttopnav>.row>button, .righttopnav>.row>ul>li{
  float: left;
}
nav{
  padding: 10px 0;
}
nav ul{
  padding-top: 5px;
  list-style-type: none;
}
nav ul li{
  font-size: 13px;
  padding: 10px;
}
nav ul li a{
  color: #333;
}
nav ul li a:hover, nav ul li span:hover{
  color:blue;
  text-decoration: none;
  cursor: pointer;
}
nav .logo{
  padding-top: 10px;
}
.UnifiedNav-logoSVG{
  fill: #0069ff;
}
.righttopnav .row> button{
  font-size: 12px;
  margin-top: 12px;
  color: #0066ff;
  font-weight: 500;
  border: 1px #0066ff solid;
  border-radius: 5px;
  padding: 3px 5px;
}
nav [class*="col-"]{
  position: static;
}
/* *********JUMBO************ */
#jumbotron{
  padding: 140px 0;
  background: #0248ff url("https://www.digitalocean.com/assets/media/homepage/bg-home-1-d54581d7.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  min-height: 800px;
}

.titlejumbo{
  color: white;
  font-size: 24px;
}

.titlejumbo h1 {
  font-weight: 700;
   font-size: 62px;
 }
.Rightjumbo{
  border-radius: 10px;
  padding: 20px;
  background-color: white;
}
.titlesjumbo{
  text-align: center;
}
.titlesjumbo h2{
  font-weight: 700;
}
.titlesjumbo h2:last-child{
  color:#0248ff;
}
.jumboinput{
  border-radius: 5px;
  padding: 10px 5px;
  margin-bottom: 10px;
  width: 100%;
  border: 1px solid rgba(0,0,0,0.1);
  font-weight: 500;
}
.formjumbo button{
  width: 100%;
  padding: 10px;
  position: relative;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid rgba(0,0,0,0.1);
  font-weight: 600;
}
.formjumbo button:nth-child(3){
  background-color: #1a75ff;
  color: white;
}
.formjumbo button:nth-last-child(2){
  background-color: white;
}
.formjumbo button img{
  position: absolute;
  left: 10px;
  width: 20px;
}
.formjumbo p{
  font-weight: 600;
  text-align: center;
}
.formjumbo p a{
  text-decoration: underline;
}
/* ************PARTNERS************* */
#partners{
  font-weight: 600;
  text-align: center;
  background-color: #f3f5f9;
  padding: 64px 0;
}
#partners h4{
  text-transform: uppercase;
}

.partnrs{
  margin: 16px 0;
}
@media screen and (min-width:0px){
  .partner img{
    max-height: 130px;
    max-width: 100%;
  }
  .partnrs>.row>div{
    height: 150px;
  }

}


@media screen and (min-width:992px){
  .partnrs>.row>div:nth-child(1) img{
    margin-top: 5px;
  }

  .partnrs>.row>div:nth-child(4) img{
    margin-top: 7px;
  }
  .partnrs>.row>div:nth-child(5) img{
    margin-top: 3px;
  }

  .partnrs>.row>div:last-child img{
    margin-top: 22px;

  }
  .partnrs>.row>div{
    height: 100px;
  }
  .partner img{
    max-height: 78px;
    max-width: 100%;
  }

}
@media screen and (min-width:1200px){
  .partnrs>.row>div:nth-child(4) img{
    margin-top: 0px;
  }
  .partnrs>.row>div:last-child img{
    margin-top: 15px;

  }
}

/* **********DEEPANDSCALE******************* */
#Depandscale{
  padding: 120px 0 64px;
}
.opportunity{
  min-height: 180px;
}
.titledepand{

  font-weight: 600;
  font-size: 18px;
  text-align: center;
}
.titledepand p{
  margin: 16px 0 64px;
  color: rgba(0,0,0,0.5);
}
.titledepand h2{
  font-weight: 700;
}
#Depandscale ul li{
  list-style-type: none;
  border-left: 1px solid rgba(0,0,0,0.5);
}
#Depandscale button{
  border: none;
  border-left: 1px solid rgba(0,0,0,0.2);
  line-height: 2;
  background-color: white;
}

.pagedepandscale{
  background-color: white;
  position: absolute;
  display: none;
}
.pages button:focus .pagedepandscale{
  display: block;
}
.menulist{
  position: relative;
}
@media screen and (min-width:0px){

  .pagedepandscale{

    text-align: left;
    position: absolute;
    top: 150px;
    left: -10px;
    width: 100vw;
    max-width: 1170px;
    z-index: 100;
  }

}
@media screen and (min-width:770px){

  .pagedepandscale{

    text-align: left;
    position: absolute;
    top: 0px;
    left: calc(20vw - 15px);
    width: 100vw;
    max-width: 1170px;
    z-index: 100;
  }

}

/* *************carousel**************** */
#carousel{
  background-color: #f3f5f9;
  padding: 120px 0;
}
.titlecarous{
  text-align: center;
}
.titlecarous h2{
  font-size: 36px;
  margin-bottom: 32px;
}
.titlecarous p{
  font-size: 20px;
  margin: 16px 0 64px;
}
.caro{
  height: 300px;
  position: relative;
  overflow: hidden;
}
/* #carousel .container .row:nth-child(2) .col-xs-12{
  padding: 0;
} */
label {
	background: #444;
	color: #fff;
	transition: transform 400ms ease-out;
	display: inline-block;
  min-height: 100%;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1;
	text-align: center;

}@media screen and (min-width:0px) and (max-width:767px){
 .caro{
   width: 345px;
   margin: auto;
 }
  #heartsa{
    font-size: 18px;
    right: -345px;
  }
  #spadesa{
    right: -690px;
  }
  #diamondsa{
    right: -1035px;
  }
}
@media screen and (min-width:768px){

  #heartsa{
    right: -469.99px;
  }
  #spadesa{
    right: -939.98px;
  }
  #diamondsa{
    right: -1409.97px;
  }
}
@media screen and (min-width:992px){

  #heartsa{
    right: -616.66px;
  }
  #spadesa{
    right: -1233.32px;
  }
  #diamondsa{
    right: -1849.98px;
  }
}
@media screen and (min-width:1200px){

  #heartsa{
    right: -750px;
  }
  #spadesa{

    right: -1500px;
  }
  #diamondsa{
    right: -2250px;
  }
}
.forma {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	white-space: nowrap;
}
.inpu {
	position: absolute;
}



input:focus ~ .keys {
	opacity: 0.8;
}

input:nth-of-type(1):checked ~ label:nth-of-type(1),
input:nth-of-type(2):checked ~ label:nth-of-type(2),
input:nth-of-type(3):checked ~ label:nth-of-type(3),
input:nth-of-type(4):checked ~ label:nth-of-type(4){
   z-index: 0;
}

input:nth-of-type(1):checked ~ label {
	transform: translate3d(0, 0, 0);
}

input:nth-of-type(2):checked ~ label {
	transform: translate3d(-100%, 0, 0);
}

input:nth-of-type(3):checked ~ label {
	transform: translate3d(-200%, 0, 0);
}

input:nth-of-type(4):checked ~ label {
	transform: translate3d(-300%, 0, 0);
}

label {
	background: #444;
	background-size: cover;
	font-size: 3rem;
}

label[for="diamonds"],
label[for="hearts"] {
	background: #cc0000;
}

label:before,
label:after {
	color: white;
	display: block;
	background: rgba(255,255,255,0.2);
	position: absolute;
	padding: 1rem;
	font-size: 3rem;
	height: 10rem;
	vertical-align: middle;
	line-height: 10rem;
	top: 50%;
	transform: translate3d(0, -50%, 0);
	cursor: pointer;
}

label:before {
	content: "\276D";
	right: 100%;
	border-top-left-radius: 50%;
	border-bottom-left-radius: 50%;
}

label:after {
	content: "\276C";
	left: 100%;
	border-top-right-radius: 50%;
	border-bottom-right-radius: 50%;
}
/* *****************Thefeature section********************** */
#features{
  padding: 120px 0;
}
.sizinine{
  margin: 64px 0;
}
.sizinine a{
  font-weight: 600;
  color: #0069ff;
}
.titlefeatu{
  margin: 0 0 16px;
  text-align: center;
}
.titlefeatu h2{
  font-weight: 700;
  font-size: 36px;

}
/**************Tables*********************/

#tables{
  background: #031b4e url("https://www.digitalocean.com/assets/media/homepage/data-center-map-20321538.svg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 120px 0;
}
#tables table{
  width: 95%;
}
#tables tr{

  border-bottom: 1px solid rgba(255,255,255,0.5);
}
#tables tr:last-child{
  border:none;
}
#tables tr td{
  max-width:: 290px;
  padding: 10px;
  color: rgba(255,255,255,0.5)
}
#tables tr td:last-child{
  max-width:: 177.5px;

}
#tables tr th{
  max-width: 100px;
  color: rgba(255,255,255,1);
  padding: 10px;

}
#tables tr a{
  float: right;
  color: #00d7d2;

}
#tables h2{
  text-align: center;
  color: white;
  font-weight: 700;
  font-size: 36px;
}
.titletab{
  margin: auto;
  max-width: 700px;
}
/* #tables .container .row:nth-child(2) [class*="col-"]:first-child{
  padding-left: 0;
}
#tables .container .row:nth-child(2) [class*="col-"]:nth-child(2){
  padding-right: 0;
}
#tables .container .row:nth-child(2) [class*="col-"]:nth-child(2) td:last-child{
  padding-right: 0;
} */
/* ***************Love Section***************** */

#lovesection{
  background-color: #f3f5f9;
  padding: 120px 0;
}
.titlelov h2{
  font-size: 36px;
  text-align: center;
  margin-bottom: 64px;
}

/* ***************Get Start***************** */
#Getstart{
  padding: 64px 0;
  background: #0248ff url("https://www.digitalocean.com/assets/media/homepage/bg-home-1-d54581d7.jpg");
  background-position: -150px bottom;
  background-repeat: no-repeat;
}
#Getstart h2{
  margin-bottom: 24px;
  text-align: center;
  color: white;
  font-weight: 700;
  font-size: 30px;
}
#Getstart .createbutt{
text-align: center;
}
.createbutt button{
  padding: 10px 32px;
  border-radius: 5px;
  font-size: 16px;
  color: #0069ff;
  font-weight: 700;
}
/* ************Footer********** */
footer{
  background-color: #010e28;
  color: hsla(0,0%,100%,.5);
  font-size: 14px;
  padding-bottom: 96px;
  padding-top: 96px;
}
.socialfootcontain a{
  font-size: 25px;
  margin-right: 10px;
}
footer .listlink a{
  text-decoration: none;
  color: rgba(255,255,255,0.5);
  text-transform: capitalize;

}
footer .listlink ul{
  padding: 0;
  list-style-type: none;
}
footer .listlink li{
  line-height: 2;
}
footer .listlink h4{
  color: white;
  font-weight: 600;
}
